.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2-transparent);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    display: flex;
}

.content {
    border: solid;
    display: flex;
    flex-direction: column;
}

.tune-view {
    border: solid;
}

.header {
    border: solid;
    height: 7rem;
}

.sidebar {
    border: solid;
    width: 30rem;
}
