.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2-transparent);
    box-shadow: var(--shadow-dark);
    min-height: 72rem;
    display: flex;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tune-view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    // height: 7rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}
