:root {
  --color-primary: #3490DE;
  --color-primary-light: #6FE7DD;
  --color-primary-dark: #2763a7;
  --color-secondary: #6639A6;
  --color-secondary-dark: #521262;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-2-transparent: rgba(250, 249, 249, 0.7);
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: url("../../src/assets/Radio_towers_on_Sandia_Peak-copy_ConvertImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh; }

.logo {
  height: 5rem;
  margin: 1.2rem 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:hover {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:hover + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.stations-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .stations-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
    .stations-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .stations-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .stations-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .stations-nav__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    position: absolute;
    top: 2.8rem;
    right: 0rem; }

.station-card {
  border: solid;
  border-color: var(--color-black);
  border-width: 1px;
  width: 88%;
  padding: 0.6rem 1.2rem;
  margin: .8rem;
  text-align: center; }
  .station-card.left {
    align-self: flex-start; }
  .station-card.right {
    align-self: flex-end; }
  .station-card:hover {
    background-color: var(--color-grey-light-3);
    cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .station-card {
      width: auto; } }

.featured-card {
  border: none;
  background-color: var(--color-grey-light-2);
  border-width: 1px;
  width: 84%;
  padding: 0.6rem 1.2rem;
  margin: 1.2rem;
  text-align: center; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2-transparent);
  box-shadow: var(--shadow-dark);
  min-height: 60rem;
  display: flex; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      height: 90vh; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      flex-direction: column-reverse;
      height: 90vh; } }

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column-reverse; } }

.tune-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .tune-view {
      width: auto; } }

.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.sidebar {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      flex-direction: row;
      flex-wrap: wrap; } }
